.resumePage {
  margin: var(--space-3) auto;
  padding: var(--space-4) var(--space-6);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--resume-page-color);
  width: var(--size-content);
  height: calc((11rem / 8.5) * 54);
}

.header {
  margin: var(--space-2) 0;
}
.subheaderCnt {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.subheader {
  color: var(--resume-text-color-deemphasized);
  margin: 0;
  font-style: italic;
}
.resumeSection {
  margin: var(--space-2) auto;
  padding: var(--space-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  transition: all 0.5s ease;
  width: 100%;
}
.resumeSection:hover {
  background-color: var(--resume-page-hover);
}
.bodyText {
  line-height: normal;
  margin: var(--space-2) 0;
}

.experienceHeaderCnt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
}
.experienceHeader {
  margin: 0;
}
.experienceSubHeader {
  display: flex;
  align-self: flex-start;
  margin: 0 0 var(--space-2) 0;
  padding: 0;
  font-style: italic;
  color: var(--resume-text-color-deemphasized);
}
.experienceList {
  margin: var(--space-2);
  padding: 0 var(--space-4);
}
.experienceList li {
  margin: 0 var(--space-2);
}
